<h1>Recipes Details</h1>
<h1><%= @recipe.name %></h1>
<div>
  <p>Preparation time: <%= @recipe.preparation_time %> hour(s)</p>
  <div>
    <p>Public</p>
    <%= button_to recipe_path, method: :patch, class: "oval-toggle" do %>
      <% if @recipe.public? %>
        <div class="circular-toggle-on"></div>
      <% else %>
        <div class="cicular-toggle-off"></div>
      <% end %>
    <% end %>
  </div>
</div>
<p>Cooking time: <%= @recipe.cooking_time %> hour(s)</p>

<div class="recipe-btn">
  <% if current_user == @recipe.user %>
    <%= button_to "Add Ingredient", new_user_recipe_recipe_food_path(user_id: @user.id, recipe_id: @recipe.id), method: :get, class: "btn" %>
    <%= button_to "Generate Shopping List", user_recipe_shopping_list_path(user_id: @user.id, recipe_id: @recipe.id), method: :get, class: "btn" %>
  <% end %>
</div>
