<div class="shopping_list_page food-page">
  <h1>Shopping List</h1>
  <div class="shopping_list">
    <% if @shopping_list[:shopping_list].blank? %>
      <div class="shopping-list-summary">
        <p>Amount of ingredients to buy: <%= @shopping_list.keys.size %></p>
        <p>Total value of food needed: <%= number_to_currency(@total_value) %></p>
      </div>
      <div class="food-table shopping-data">
        <table class="shopping-table">
          <thead>
            <tr>
              <th class="shopping-table-width row-left-style">Food</th>
              <th class="shopping-table-width">Quantity</th>
              <th class="shopping-table-width row-right-style">Price</th>
            </tr>
          </thead>
          <tbody>
            <% @shopping_list.each do |food, info| %>
              <tr>
                <td class="shopping-table-width"><%= food.name %></td>
                <td class="shopping-table-width"><%= info[:quantity] %> <%= food.measurement_unit %></td>
                <td class="shopping-table-width"><%= '$' %> <%= number_with_precision(info[:total_price], precision:2) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>No ingredients to buy.</p>
    <% end %>
  </div>
</div>
