<div class="new-food">
  <h1>Add a new food</h1>
  <div class="add-food-section">
    <%= form_with(model: @food, url: foods_path(@user), class: 'add-food-form') do |form| %>
      <div class="food-field">
        <%= form.label :name %>
        <%= form.text_field :name, required: true %>
      </div>

      <div class="food-field">
        <%= form.label :measurement_unit %>
        <%= form.select :measurement_unit, options_for_select(['mg', 'gr', 'Kg', 'oz', 'lt', 'u']), { include_blank: 'Choose a measurement unit'}, class: 'form-control' %>
      </div>

      <div class="food-field">
        <%= form.label :price %>
        <%= form.number_field :price, required: true, step: '0.01', min: '0.01', value: sprintf('%.2f', @food.price || 0.00) %>
      </div>

      <div class="food-field">
        <%= form.label :quantity %>
        <%= form.number_field :quantity, required: true, step: '0.01' %>
      </div>

      <div class="food-field">
        <%= form.submit "Add Food", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>

